*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*body{
    background-image:url("img/img1.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}
*/
h1{
    font-size:4rem;
    padding:3rem;

}

.coming_soon{
    min-height:100vh;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    color:#fff;
    font-family:Cinzel, Helvetica;
    background-image:url("img1.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    text-shadow:5px 2px rgb(49, 48, 48);
    
}

.countdown{
    display:flex;
    justify-content: space-around;
    text-align:center;
}

.day,.hour,.minute,.second{
    font-size:3rem;
}

@media screen and (max-width:40em){

    h1{
        font-size:3rem;
        padding:3rem;
        text-align:center;
    
    }

    .coming_soon{
        min-height:100vh;
        background-size:100%;
        background-repeat:no-repeat;
        text-shadow:5px 2px rgb(49, 48, 48);
        background-color:#000;
        
    }



}
